


  <ion-content fullscreen>
    <ion-card>
      <img src="assets/images/apt2.jpg" style="border-radius: 35%;"/>
      <ion-card-header>
        <ion-card-subtitle>Uppsala</ion-card-subtitle>
        <ion-card-title>Test, Testsson</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Gillar att läsa böcker, gå på promenad och äta god mat.
      </ion-card-content>
      <div class="buttonDiv">
        <ion-button>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
      </div>
      
    </ion-card>
  </ion-content>

