


  <ion-content fullscreen>
    <ion-card>
      <img src="assets/images/layered-waves-haikei2.png" class="svgImage">
      <img src="assets/images/apt2.jpg" style="border-radius: 5% 5% 15% 15%; margin-top: 19%; height: 400px;"/>
      <ion-card-header>
        <ion-card-subtitle>Uppsala</ion-card-subtitle>
        <ion-card-title>Test, Test</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Gillar att gymma, gå på promenad och äta god mat.
      </ion-card-content>
      <div class="buttonDiv">
        <ion-button color="medium">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button color="medium">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
      </div>
      
    </ion-card>
  </ion-content>

